<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Zanshin Landing Page</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
          rel="stylesheet">
</head>
<body>
<div id="header">
    <a href=""><img src="../images/zanshin-logo.png" style="height: 38px;  margin-left: 1px;" alt=""></a>
    <div id="header-buttons">
        <div class="buttons" id="first-button"><a id="first-button-title" href="">Прототип</a></div>
        <div class="buttons"><a id="second-button" href="">Документация</a></div>
        <div class="buttons"><a id="third-button" href="">Контакты</a></div>
        <div class="buttons" id="switch-language-buttons">
            <div class="language-buttons" id="en-language-button">EN</div>
            <div style="border-right: 2px solid white; margin: 5px 0;"></div>
            <div class="language-buttons" id="ru-language-button">RU</div>
        </div>
    </div>
</div>
<div id="navigation">
    <div class="navigation-btns" id="home-btn" onclick="jump('home-wrapper')"></div>
    <div class="navigation-btns" onclick="jump('description-wrapper')"></div>
    <div class="navigation-btns" onclick="jump('feedback-wrapper')"></div>
</div>
<div id="home-wrapper">
    <div id="title">Разнообразный и богатый опыт рамки и место обучения кадров</div>
    <div id="sub-title">Таким образом сложившаяся структура организации играет важную роль в формировании системы обучения кадров</div>
    <div class="button" id="go-to-prototype-button">Перейти к прототипу</div>
    <img id="mockup" src="../images/mockup.png" alt="">
</div>
<div id="description-wrapper">
    <img id="decoration-1" src="../images/decoration-1.png" alt="">
    <img id="decoration-2" src="../images/decoration-2.png" alt="">
    <div id="description">
        Разнообразный и богатый опыт рамки и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение систем массового участия. Не следует, однако забывать, что рамки и место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Таким образом сложившаяся структура организации играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
    </div>
</div>
<div id="pros-wrapper">
    <div class="pro">
        <div class="pro-image"><img src="../images/pro-1.png" alt=""></div>
        <div class="pro-text">
            <div class="pro-title" id="pro-1-title">
                Супер-плюс номер 1
            </div>
            <div class="pro-subtitle" id="pro-1-subtitle">
                Таким образом новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
            </div>
        </div>
    </div>
    <div class="vertical-line"></div>
    <div class="pro">
        <div class="pro-text">
            <div class="pro-title" id="pro-2-title">
                Супер-плюс номер 2
            </div>
            <div class="pro-subtitle" id="pro-2-subtitle">
                С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям.
            </div>
        </div>
        <div class="pro-image"><img src="../images/pro-2.png" alt=""></div>
    </div>
    <div class="vertical-line"></div>
    <div class="pro">
        <div class="pro-image"><img src="../images/pro-3.png" alt=""></div>
        <div class="pro-text">
            <div class="pro-title" id="pro-3-title">
                Супер-плюс номер 3
            </div>
            <div class="pro-subtitle" id="pro-3-subtitle">
                Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности играет важную роль в формировании модели развития.
            </div>
        </div>
    </div>
</div>
<div id="feedback-wrapper">
    <div id="feedback-title">Свяжитесь с нами</div>
    <div id="feedback-subtitle">Вы можете заполнить форму ниже или написать нам в социальных сетях:</div>
    <div id="social-networks">
        <a href="#"><img class="social-networks-item" src="../images/telegram_icon.png" alt=""></a>
    </div>
    <div id="feedback-form">
        <div id="sender-info">
            <input id="name-input" class="input" type="text" placeholder="Имя">
            <input id="email-input" class="input" type="text" placeholder="Эл. почта">
        </div>
        <textarea id="message-input" class="input" placeholder="Введите сообщение здесь..."></textarea>
        <div class="button" id="send-btn">Отправить</div>
    </div>
</div>
<div id="copyright">© 2021 by Zanshin Team</div>
</body>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../scripts/changeLanguage.js"></script>
<script src="../scripts/dotNavigation.js"></script>
